@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.Navbar {
    background-color: #df0000;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    width: 200px;
}

.logo a {
    color: white;
    font-weight: 700;
    font-size: 25px !important;
    line-height: 15px;
}

/* search bar */
.searchInput {
    border: none;
    outline: none;
    width: 500px;
    height: 40px !important;
    padding-left: 20px;
    border-radius: 9px;
}

/* navLinks */
.navLinks {
    width: 400px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.navLinks ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navLinks ul li {
    list-style-type: none;
    padding: 1rem;
    display: block;
    font-size: 17px;
}

.navLinks ul li .links {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.navLinks ul li .links:hover {
    cursor: pointer;
    color: #404553ba;
}

.fa-bars,
.toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
}


.length {
    color: wheat !important;
    background-color: black;
    position: relative;
    border-radius: 50px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 30px;
    bottom: 18px;
    font-size: 15px !important;
}

.likes {
    color: wheat !important;
    background-color: black;
    position: relative;
    border-radius: 50px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 30px;
    bottom: 18px;
    font-size: 15px !important;
}

/* //////////////media queries ///////////////////// */

@media (max-width:600px) {
    .toggle-button {
        display: block;
        cursor: pointer;
    }

    .logo {
        width: 300px;
    }

    .logo a {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .Navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
    }

    .navLinks {
        display: block;
        width: 100vw;
        transition: .2s;
    }

    .Navbar ul {
        flex-direction: column;
        width: 100% !important;
        margin: auto;
    }

    .Navbar ul li {
        text-align: center;
    }


    .searchInput {
        display: none;
    }

}

.cartImg {
    width: 200px;
}