.mobileParent {
    padding: 20px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.heading {
    margin: 20px;

}

.icon {
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    outline: none;
    font-size: 10px !important;
    padding: 15px;
    outline: none;
    height: 30px;
    width: 32px;
    margin: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    cursor: pointer;
}

.arrows {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

.cover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    transition: .1s;

}


.cover::-webkit-scrollbar {
    width: 12px;

}

.cover::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.cover::-webkit-scrollbar-track {
    background-color: transparent;
}

.gaps {
    margin: 0 10px;
}

.parent {
    border: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    padding: 20px;
    width: 100%;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}


.child {
    min-width: 300px;
    height: 450px;
    margin: 1 10px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.child img {
    height: 200px;
}

.whishListDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.whistListIcon {
    background-color: transparent;
    border: none;
    outline: none;
}

.whistListIcon i {
    color: red !important;
    font-size: 20px;
}

.whistListIcon i:hover {
    cursor: pointer;
}

.price {
    color: red;
    font-weight: bold;
    font-size: 23px;
}


.rating {
    color: red !important
}

.rating :last-child {
    color: lightgray !important
}

.addBtn {
    background-color: #a51716 !important;
    border: none;
    outline: none;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: .8px;
}

.addBtn:hover {
    cursor: pointer;
    background-color: red !important;
}


/* Media Queries */
@media (max-width:600px) {
    .child {
        min-width: 270px;
    }
}

/* ///////////////////////// */
@media (min-width:600px) {
    .child {
        min-width: 280px;
    }
}

/* ///////////////////////// */
@media (min-width:768px) {
    .child {
        min-width: 290px;
    }
}

/* ///////////////////////// */
@media (min-width:1200px) {
    .child {
        min-width: 300px;
    }
}